# 1. Application Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# 2. Prompts Configuration
PROMPT_SUMMARY_PATH=resources/prompts/summary_prompt.txt
PROMPT_SUGGESTIONS_PATH=resources/prompts/suggestions_prompt.txt
PROMPT_SCORECARD_PATH=resources/prompts/scorecard_prompt.txt
PROMPT_DYNAMIC_EVALUATION_PATH=resources/prompts/dynamic_evaluation_prompt.txt
